

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <title>B-04 Frontend</title>

  <!-- Date Picker -->


</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="container">
      <a href="index.html" class="navbar-brand"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/IIIT_Sri_City_Logo.png/220px-IIIT_Sri_City_Logo.png" style="width: 32px; height: 32px; margin-right: 8px;">ProjectB04</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item px-2">
            <a href="{% url 'dashboard:dashboard_index' %}" class="nav-link">Dashboard</a>
          </li>
          <li class="nav-item px-2">
            <a href="hostel.html" class="nav-link">Hostel</a>
          </li>
          <li class="nav-item px-2">
            <a href="mess.html" class="nav-link">Mess</a>
          </li>
          <li class="nav-item px-2">
            <a href="medical.html" class="nav-link">Medical</a>
          </li>
          <li class="nav-item px-2">
            <a href="{% url 'orders:orders_index' %}" class="nav-link">Order</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown mr-3">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-user"></i> Welcome {{request.user}}
            </a>
            <div class="dropdown-menu">
              <a href="{% url 'dashboard:profile' %}" class="dropdown-item" target="2">
                <i class="fas fa-user-circle"></i> Profile
              </a>
              <a href="{% url 'dashboard:contacts' %}" class="dropdown-item" target="3">
                <i class="fas fa-cog"></i> Important Contacts
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a href="{% url 'accounts:student_logout' %}" class="nav-link">
              <i class="fas fa-user-times"></i> Logout
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'admin:index' %}" class="nav-link">
              <i></i> Admin
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- HEADER -->
  <header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>
            <i class="fas fa-cog"></i> Orders</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- POSTS -->
  <section>
  <p>

  </p>
  </section>
  <section id="posts">
    <!-- <div class="container" align="center"> -->
      <div class="row">
        <div class="col-md-7">
          <div class="card">
            <div class="card-header">
              <h4>Orders</h4>
            </div>
            <table style="align:left" class="table table-striped" align="left">
              <thead class="thead-dark">
                <tr>
                  <th>Books</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th></th>
                  <th>Quantity</th>
                </tr>
              </thead>
              <tbody>
                {% for book in books %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{book.item_name}}</td>
                  <td></td>
                  <td><select name="books" form="order">
                      {% with ''|center:book.quantity as range %}
                      {{range}}
                      {% for value in range %}
                        <option value="{{ forloop.counter0 }}">{{ forloop.counter0 }}</option>
                      {% endfor %}
                      {% endwith %}
                    </select>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            <!-- </table> -->
            <!--Stationary-->
            <div class="card-header">
            </div>
            <!-- <table class="table table-striped"> -->
              <thead class="thead-dark">
                <tr>
                  <th>Stationary</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th></th>
                  <th>Quantity</th>
                </tr>
              </thead>
              <tbody>
                {% for stationary in stationary %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{stationary.item_name}}</td>
                  <td></td>
                  <td><select name="stationary" form="order">
                      {% with ''|center:stationary.quantity as range %}
                      {% for value in range %}
                        <option value="{{ forloop.counter0 }}">{{ forloop.counter0 }}</option>
                      {% endfor %}
                      {% endwith %}
                    </select>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            <!-- </table> -->
            <!--Others-->
            <!-- <table class="table table-striped"> -->
              <thead class="thead-dark">
                <tr>
                  <th>Others</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th></th>
                  <th>Quantity</th>
                </tr>
              </thead>
              <tbody>
                {% for other in others %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{other.item_name}}</td>
                  <td></td>
                  <td><select name="others" form="order">
                      {% with ''|center:other.quantity as range %}
                      {{range}}
                      {% for value in range %}
                        <option value="{{ forloop.counter0 }}">{{ forloop.counter0 }}</option>
                      {% endfor %}
                      {% endwith %}
                    </select>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% if items %}
            <div class="card-body">
              <form action="{% url 'orders:place_order' %}" method="post" id="order">
                {% csrf_token %}
                <input type="Submit" value="Place Order" class="btn btn-primary btn-block">
              </form>
            </div>
          <div class="card-body">
            <p>Didn't find your order?</p>
            <a href="{% url 'orders:manual_order' %}">
              <input type="Submit" value="Manual Order" class="btn btn-primary btn-block">
          </a>
          </div>
          {% endif %}
        </div>

        <div class="col-md-3">
  <!-- <div class="card"> -->
    <table class="table table-striped">
      <thead class="thead-dark">
        <div class="card-header">
          <h4>Total Cost: {{ total_cost }}</h4>
        </div>
        <tr>
          <th>
            Orders
          </th>
          <th>List</th><th></th><th></th><th></th>
        </tr>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Date</th>
          <th>Quantity</th>
          <th>Cancel</th>
        </tr>
      </thead>
      <tbody>
          {% if user_orders %}
            {% for orders in user_orders %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ orders.item.item_name }}</td>
              <td>{{ orders.timestamp }}</td>
              <td>{{ orders.quantity }}</td>
              <td><a href="{% url 'orders:delete_order' orders.pk %}" class="btn btn-danger btn-block">
               Cancel
              </a></td>
            </tr>
            {% endfor %}
            <!-- <td>Order 1</td>
            <td>11/10 11:00</td>
            <td><a href="#" class="btn btn-danger btn-block">
             Cancel
            </a></td>
          </tr> -->
          {% endif %}
          <!-- <td>Order 1</td>
          <td>11/10 11:00</td>
          <td><a href="#" class="btn btn-danger btn-block">
           Cancel
          </a></td>
        </tr>
        <tr>
          <td>Order 2</td>
          <td>11/10 14:00</td>
          <td><a href="#" class="btn btn-danger btn-block">
           Cancel
          </a></td>
        </tr> -->
      </tbody>
<!-- <div class="col-md-3"> -->
<div class="card">
    <thead class="thead-dark">
      <tr>
        <th>
          Order
        </th>
        <th>History</th><th></th><th></th><th></th>
      </tr>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Date</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>
    {% if user_order_history %}
      {% for orders in user_order_history %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ orders.item.item_name }}</td>
        <td>{{ orders.timestamp }}</td>
        <td>{{ orders.quantity }}</td>
        <td></td>
      </tr>
      {% endfor %}
      <!-- <td>Order 1</td>
      <td>11/10 11:00</td>
      <td><a href="#" class="btn btn-danger btn-block">
       Cancel
      </a></td>
    </tr> -->
    {% endif %}
    <!-- <td>Order 1</td>
    <td>11/10 11:00</td>
    <td><a href="#" class="btn btn-danger btn-block">
     Cancel
    </a></td>
  </tr>
  <tr>
    <td>Order 2</td>
    <td>11/10 14:00</td>
    <td><a href="#" class="btn btn-danger btn-block">
     Cancel
    </a></td>
  </tr> -->
</tbody>
  </table>
</div>
</div>

      </div>
    </div>

      </div>
    </div>
  </center>
  </section>

  <!-- FOOTER -->
  <footer id="main-footer" class="bg-dark text-white mt-5 p-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="lead text-center">
            Copyright &copy;
            <span id="year"></span>
            Project-B04
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    CKEDITOR.replace('editor1');
  </script>
</body>

</html>
