<label for="courrier_ref_no">Courrier Ref No</label>
<input type="text" name="courrier_ref_no" value="" class="form-control"><br>
<label for="delivery_agent">Delivery Agent</label>
<input type="text" name="delivery_agent" value="" class="form-control"><br>
<label for="student_roll">Student Roll No</label>
<input type="text" name="student_roll" value="" class="form-control"><br>
<label for="courrier_company">Courrier Company</label>
<input type="text" name="courrier_company" value="" class="form-control">
<input type="Submit" value="Add Courrier" class="btn btn-primary btn-block" id="mybutton5">