{{ form.media }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <title>B-04 Frontend</title>

  <!-- Date Picker -->


</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="container">
      <a href="index.html" class="navbar-brand"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/IIIT_Sri_City_Logo.png/220px-IIIT_Sri_City_Logo.png" style="width: 32px; height: 32px; margin-right: 8px;">ProjectB04</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item px-2">
            <a href="{% url 'dashboard:dashboard_index' %}" class="nav-link active">Dashboard</a>
          </li>

           <li class="nav-item px-2">
            <a href="{% url 'hostel:hostel_dashboard' %}" class="nav-link">Hostel</a>
          </li>
           <li class="nav-item px-2">
            <a href="{% url 'mess:mess_dashboard' %}" class="nav-link">Mess</a>
          </li>
           <li class="nav-item px-2">

            <a href="{% url 'medical:medical_dashboard' %}" class="nav-link">Medical</a>
          </li>
          <li class="nav-item px-2">
            <a href="{% url 'orders:orders_index' %}" class="nav-link">Order</a>
          </li>
      {% if admin_status == 1 %}
        <li class="nav-item px-2">
            <a href="{% url 'hostel_admin:hostel_admin_dashboard' %}" class="nav-link">Hostel admin dashboard</a>
            </li>
      {% endif %}
      {% if admin_status == 2 %}
        <li class="nav-item px-2">
            <a href="{% url 'mess_admin:mess_admin_dashboard' %}" class="nav-link">Mess admin dashboard</a>
            </li>
      {% endif %}
      {% if admin_status == 3 %}
        <li class="nav-item px-2">
            <a href="{% url 'medical_admin:medical_admin_dashboard' %}" class="nav-link">Medical admin dashboard</a>
            </li>
      {% endif %}
      
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown mr-3">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-user"></i> Welcome {{request.user}}
            </a>
            <div class="dropdown-menu">
              <!-- <a href="{% url 'dashboard:profile' %}" class="dropdown-item">
                <i class="fas fa-user-circle"></i> Profile
              </a> -->
              <a href="{% url 'dashboard:contacts' %}" class="dropdown-item">
                <i class="fas fa-cog"></i> Important Contacts
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a href="{% url 'accounts:student_logout' %}" class="nav-link">
              <i class="fas fa-user-times"></i> Logout
            </a>
          </li>
          <!-- <li class="nav-item">
            <a href="{% url 'admin:index' %}" class="nav-link">
              <i></i> Admin
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

  <!-- HEADER -->
  <header id="main-header" class="py-2 bg-warning text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>
            <i class="fas fa-users"></i>Medical Admin Dashboard</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- POSTS -->
  <section>
  <p>

  </p>
  </section>

  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a href="{% url 'medical_admin:medical_admin_dashboard' %}" class="btn btn-light btn-block">
            <i class="fas fa-arrow-left"></i> Back To Medical Admin Dashboard
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="posts">
      <div class="row">
    <div class="col-md-9" style="width:800px; margin:0 auto;">
      <div class="card-header" style="width: 104%;">
        <h4><center>Edit Announcement</center></h4>
      </div>
    <div class="card" style=" border: 0px;align:left;">
      <!-- <div class="card-header" style="width: 104%;">
        <h4><center>Hostel</center></h4>
      </div> -->
      <!-- <table class="table table-striped" style="align:left; width: 80%; padding: 0px;  border: 0px; ">
        <tr style="width: 100%; padding: 0px;  border: 0px;">
          <td style="width: 100%; padding: 0px;">
            <table style="width: 130%; padding: 0px;  border: 0px;">
              <thead class="thead-dark" style="width: 100%; padding: 0px;">
                <tr style="width: 100%; padding: 0px;">
                  <th style="width: 55px; font-weight:normal;">#</th>
                  <th style="width: 132px; font-weight:normal;">Title</th>
                  <th style="width: 132px; font-weight:normal;">Date</th>
                  <th style="width: 132px; font-weight:normal;">Edit</th>
                  <th style="width: 132px; font-weight:normal;">Delete</th>
                </tr>
              </thead>

            </table>
          </td>
        </tr>
        <tr style="width: 100%; padding: 0px;">
          <td style="width: 100%; padding: 0px;">
            <div style="overflow-y: scroll; width: 130%; height: 200px">
              {% if hostel_announcements %}
              <table style="width: 100%; padding: 0px;">
                  {% for data in hostel_announcements %}
                  <tr>
                    <td style="width: 55px; font-weight:normal;">{{ forloop.counter }}</td>
                    <td style="width: 132px; font-weight:normal;">{{data.announcement_title}}</td>
                    <td style="width: 132px; font-weight:normal;">{{data.timestamp}}</td>
                    <td style="width: 132px; font-weight:normal;"><a href="{% url 'hostel_admin:announcement_edit' data.pk %}" class="btn btn-secondary">
                      <i class="fas fa-angle-double-right"></i> Edit
                    </a></td>
                    <td style="width: 132px; font-weight:normal;"><a href="{% url 'hostel_admin:announcement_delete' data.pk %}" class="btn btn-secondary">
                      <i class="fas fa-angle-double-right"></i> Delete
                    </a></td>
                  </tr>
                  {% endfor %}
                </table>
                {% endif %}
            </div>
          </td>
        </tr>
      </table> -->
      <form class="add_announcement" action="{% url 'medical_admin:medical_save_edit_changes' id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="Submit" value="Save Changes" class="btn btn-primary btn-block" id="mybutton">
      </form>
    </div>
  </div>
      <!-- <div class="col-md-9" style="width:800px; margin:0 auto;">
      <div class="card" style=" border: 0px;align:left;">
        <div class="card-header" style="width: 104%;">
          <h4><center>Mess</center></h4>
        </div>
        <table class="table table-striped" style="align:left; width: 80%; padding: 0px;  border: 0px; ">
          <tr style="width: 100%; padding: 0px;  border: 0px;">
            <td style="width: 100%; padding: 0px;">
              <table style="width: 130%; padding: 0px;  border: 0px;">
                <thead class="thead-dark" style="width: 100%; padding: 0px;">
                  <tr style="width: 100%; padding: 0px;">
                    <th style="width: 55px; font-weight:normal;">#</th>
                    <th style="width: 132px; font-weight:normal;">Title</th>
                    <th style="width: 132px; font-weight:normal;">Date</th>
                    <th style="width: 132px; font-weight:normal;">Details</th>
                  </tr>
                </thead>

              </table>
            </td>
          </tr>
          <tr style="width: 100%; padding: 0px;">
            <td style="width: 100%; padding: 0px;">
              <div style="overflow-y: scroll; width: 130%; height: 200px">
                {% if mess_announcements %}
                <table style="width: 100%; padding: 0px;">
                    {% for data in mess_announcements %}
                    <tr>
                      <td style="width: 55px; font-weight:normal;">{{ forloop.counter }}</td>
                      <td style="width: 132px; font-weight:normal;">{{data.announcement_title}}</td>
                      <td style="width: 132px; font-weight:normal;">{{data.timestamp}}</td>
                      <td style="width: 132px; font-weight:normal;"><a href="{% url 'dashboard:announcement_detail' 2 data.pk %}" class="btn btn-secondary" target="{{ forloop.counter }}">
                        <i class="fas fa-angle-double-right"></i> Details
                      </a></td>
                    </tr>
                    {% endfor %}
                  </table>
                  {% endif %}
              </div>
            </td>
          </tr>
        </table>
  </div>
</div> -->
  <!-- <div class="col-md-9" style="width:800px; margin:0 auto;">
  <div class="card" style=" border: 0px;align:left;">
    <div class="card-header" style="width: 104%;">
      <h4><center>Medical</center></h4>
    </div>
    <table class="table table-striped" style="align:left; width: 80%; padding: 0px;  border: 0px; ">
      <tr style="width: 100%; padding: 0px;  border: 0px;">
        <td style="width: 100%; padding: 0px;">
          <table style="width: 130%; padding: 0px;  border: 0px;">
            <thead class="thead-dark" style="width: 100%; padding: 0px;">
              <tr style="width: 100%; padding: 0px;">
                <th style="width: 55px; font-weight:normal;">#</th>
                <th style="width: 132px; font-weight:normal;">Title</th>
                <th style="width: 132px; font-weight:normal;">Date</th>
                <th style="width: 132px; font-weight:normal;">Details</th>
              </tr>
            </thead>

          </table>
        </td>
      </tr>
      <tr style="width: 100%; padding: 0px;">
        <td style="width: 100%; padding: 0px;">
          <div style="overflow-y: scroll; width: 130%; height: 200px">
            {% if medical_announcements %}
            <table style="width: 100%; padding: 0px;">
                {% for data in medical_announcements %}
                <tr>
                  <td style="width: 55px; font-weight:normal;">{{ forloop.counter }}</td>
                  <td style="width: 132px; font-weight:normal;">{{data.announcement_title}}</td>
                  <td style="width: 132px; font-weight:normal;">{{data.timestamp}}</td>
                  <td style="width: 132px; font-weight:normal;"><a href="{% url 'dashboard:announcement_detail' 3 data.pk %}" class="btn btn-secondary" target="{{ forloop.counter }}">
                    <i class="fas fa-angle-double-right"></i> Details
                  </a></td>
                </tr>
                {% endfor %}
              </table>
              {% endif %}
          </div>
        </td>
      </tr>
    </table>
</div>
</div> -->
</div>
  </section>

  <!-- FOOTER -->
  <br><br><br><br><br><br>
  <footer id="main-footer" class="bg-dark text-white mt-5 p-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="lead text-center">
            Copyright &copy;
            <span id="year"></span>
            Project-B04
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    CKEDITOR.replace('editor1');
  </script>
</body>

</html>
